@import 'Normalize.css';


/* colors
#040C0E
#132226
#525B56
#BE9063
#A4978E
*/
body {
	background-color: #BE9063;
	font-size: 25px;
	font-weight: 700;
}

button {
	padding: 5px 10px;
	font-size: 20px;
	font-weight: 700;
	display: block;
	margin: 20px;
	border-radius: 20px;
	text-transform: uppercase;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	padding: 15px 0;
	background-color: rgba(4, 12, 14, 0.9);
	color: #BE9063;
}

.page {
	flex: 1 1 auto;
	padding: 30px;
}


.footer {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	padding: 10px 0;
	background-color: rgba(4, 12, 14, 0.95);
	color: #BE9063;
}

.snowFlake {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url('../img/snowflake.png') center / cover no-repeat;
}